<mat-card class="matcard">
  <h4>Log-in Here......!</h4>
    <div class="Container">
        <mat-form-field  class="fld">
            <mat-label>UserName</mat-label>
            <input matInput class="inp">
            <mat-icon matSuffix> account_circle </mat-icon>
          </mat-form-field>  

          <mat-form-field  class="fld">
            <input matInput type="password" placeholder="Enter Password" class="inp">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
          <mat-divider></mat-divider>
          <br>
          <div class="btn">
            <button mat-raised-button color="primary"> login </button> 
            &nbsp;&nbsp;
            <button mat-raised-button color="accent">Forgot password</button>
          </div> 
    </div>
</mat-card>