
<nav class="navbar navbar-toggleable-xs">
    <mat-toolbar>
      <span class="navbar-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <button mat-button routerLink="/home">
          <mat-icon>home</mat-icon> 
        </button>
        <button mat-button routerLink="/about" routerLink=""><mat-icon>perm_identity</mat-icon></button>
        <a mat-button routerLink="/capm"><mat-icon>logout</mat-icon></a>
      </div>
    </mat-toolbar>
      <router-outlet></router-outlet>
      <!-- <app-registeration></app-registeration> -->