  
 <div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
 </div>
  <div class="row row-cols-2 row-cols-md-5 g-5">
    <div *ngFor="let card of cards">
    <div class="col">
      <div class="card">
        <img src={{card.img}} alt="Card image cap">
          <h4>{{card.title}}</h4>
          {{card.country}}
          <button type="button" class="btn btn-primary">{{card.buttonText}}</button>
        <br>
        </div>
      </div>
    </div>
    </div>
 