<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
        <mat-form-field class="example-full-width">
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
        </mat-form-field>
    </mat-card-header>
  </mat-card>
  <div class="agn">
    <div *ngFor="let card of cards" >
      <mat-card class="card">
        <img mat-card-md-image src={{card.img}} alt="Card image cap">
            <h4>{{card.title}}</h4>
            {{card.description}}
          <button color="primary">{{card.buttonText}}</button>
      </mat-card>
    </div>
  </div>
</div>