
<mat-grid-list cols="3" >
    <mat-grid-tile>
        <mat-card class="card">
            <img class="img" src="assets\bussiness.png"> &nbsp;
            <button mat-raised-button color="primary" routerLink="/bussiness">Bussiness  <mat-icon> monetization_on</mat-icon></button>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <img class="img" src="assets\exam.webp"> &nbsp;
            <button mat-raised-button color="primary" routerLink="/bussiness"> Exam <mat-icon>edit_note</mat-icon></button>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <img class="img" src="assets\enter.jpg"> &nbsp;
            <button mat-raised-button color="primary" routerLink="/bussiness"> Entertrain<mat-icon>accessibility_new</mat-icon></button>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>